<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910459350970-egktfjj6iujsj64ujmek47f6776q7ps3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910459350970-egktfjj6iujsj64ujmek47f6776q7ps3</string>
	<key>API_KEY</key>
	<string>AIzaSyCm8wCmKTGq5Fo7oNNMYUFHz4Rk2kk-Ygs</string>
	<key>GCM_SENDER_ID</key>
	<string>910459350970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webkaro.prolawyers</string>
	<key>PROJECT_ID</key>
	<string>prolawyers-1314</string>
	<key>STORAGE_BUCKET</key>
	<string>prolawyers-1314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:910459350970:ios:a8640c98edf4f1c9</string>
	<key>DATABASE_URL</key>
	<string>https://prolawyers-1314.firebaseio.com</string>
</dict>
</plist>